@import '~bulma/css/bulma.css';

/* TODO: Refactor */

a {
  color: inherit;
  /* text-decoration: underline; */
  /* text-decoration-color: #1ba0ab; */
}

.content a:not(.button):hover {
  text-decoration: underline !important;
}

a.highlight {
  text-decoration: underline;
}

.is-primary {
  background-color: #00d1b2 !important;
}

.input-range__track--active {
  background-color: #1ba0ab !important;
}

.input-range__slider {
  background-color: #1ba0ab !important;
  border: 1px solid #1ba0ab;
}

a.button.is-primary:hover,
button.is-primary:hover {
  filter: brightness(110%);
}

em {
  background-color: hsl(48, 100%, 67%);
}

.hero {
  background-color: #75daff;
  padding-bottom: 2rem;
  padding-top: 3rem;
  color: white;
  background-image: linear-gradient(
    141deg,
    #1ba0ab 0%,
    #00d1b2 60%,
    #00e7eb 100%
  );
}

.hero-body {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.hero-image-column {
  position: relative;
  text-align: center;
}

.hero-image-wrapper {
  position: absolute;
  text-align: center;
  width: 95%;
}

.hero-image {
  box-shadow: rgba(0, 0, 0, 0.3) 1px -2px 8px 1px;
  transition: 1s ease-in-out;
  transform: rotate(3deg) translateY(-10px);
}

.section-info {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
}

.section-action {
  position: relative;
  background-image: linear-gradient(
    141deg,
    #1ba0ab 0%,
    #00d1b2 60%,
    #00e7eb 100%
  );
  color: white;
  padding-bottom: 3rem;
  padding-top: 8rem;
}

.cell-label {
  display: none;
}

@media all and (max-width: 530px) {
  thead {
    display: none;
  }
  table,
  tbody,
  tr {
    display: block;
  }
  td {
    display: flex;
  }
  td:first-child {
    font-weight: bold;
  }
  .cell-label {
    display: block;
    float: left;
    width: 50%;
    padding-right: 0.5em;
  }
  .cell-label:after {
    content: ': ';
  }
  .cell-content {
    float: right;
    width: 50%;
  }
}

.page-number {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 52px;
  display: flex;
  justify-content: flex-start;
}

.page-number-no {
  width: 10%;
}

.page-number-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dina4 {
  position: relative;
  width: 100%;
}

.dina4-ratio {
  padding-bottom: 141.42135624%;
}

.dina4-ratio > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.input-range__label-container {
  background-color: #fff;
}

.card {
  display: block;
  height: 100%;
}

.year {
  background-color: #fff;
}

.year-bounce {
  animation: colorchange 0.2s linear;
}

@keyframes colorchange {
  0% {
    background: white;
  }
  50% {
    background: linear-gradient(#fff, #eee, #fff);
  }
  100% {
    background: white;
  }
}
